@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #da2424;
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

.slider .content h2 {
  font-size: 6rem;
}

.thumbnail button img {
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}
.thumbnail button:hover img {
  filter: brightness(1);
}
.thumbnail button.border-4 img {
  filter: brightness(1.5);
}
